doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel="stylesheet" href="/static/style.css")
		script(src="/static/app.js")
	body
		h1 Jade - node template engine
		#container.col
			if true
				p You are amazing
			else
				p Get on it!
			p.
				Jade is a terse and simple
				templating language with a
				strong focus on performance
				and powerful features.